.main_shoping_cart_section_container {
  height: auto;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
}

.shoping_cart_image_container {
  height: 250px;
}

.shoping_cart_image_container img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.shoping_item_info_container {
  color: #151515;
  padding: 20px 10px 10px 10px;
  background-color: #f6f6f6;
  font-family: "Roboto", serif;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.shoping_cart_header_container h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.shoping_cart_header_container h4 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #4a4a4a;
}

.shoping_cart_footer_container {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
}

.shoping_cart_footer_container h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.shoping_cart_footer_container h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #00000066;
  text-decoration: line-through;
}

.shoping_cart_footer_container h4 {
  color: #ff3333;
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 62px;
  background: #ff33331a;
}

.cart_btn_container {
  width: 100%;
  color: #ffffff;
  margin-top: 10px;
  padding: 5px 0;
  font-size: 1.2rem;
  background-color: #151515;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cart_btn_container button {
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive styleing__ */

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .shoping_cart_image_container {
    height: 210px;
  }

  .shoping_cart_header_container h2 {
    font-size: 1.3rem;
  }

  .shoping_cart_header_container h4 {
    font-size: 1.1rem;
  }

  .shoping_cart_footer_container {
    gap: 10px;
  }

  .shoping_cart_footer_container h2 {
    font-size: 1.4rem;
  }

  .shoping_cart_footer_container h3 {
    font-size: 1.4rem;
  }

  .shoping_cart_footer_container h4 {
    padding: 2px 15px;
  }
}

@media screen and (max-width: 768px) {
  .swiper-button-prev::after {
    margin-top: 320px;
  }

  .swiper-button-next::after {
    margin-top: 320px;
  }

  .shoping_cart_image_container {
    height: 180px;
  }

  .shoping_item_info_container {
    padding: 10px 0 5px 5px;
  }

  .shoping_cart_header_container h2 {
    font-size: 1.1rem;
  }

  .shoping_cart_header_container h4 {
    font-size: 14px;
  }

  .shoping_cart_footer_container h2 {
    font-size: 1.2rem;
  }

  .shoping_cart_footer_container h3 {
    font-size: 1.2rem;
  }

  .shoping_cart_footer_container h4 {
    font-size: 14px;
    padding: 3px 12px;
  }
}

@media screen and (max-width: 640px) {
  .shoping_cart_image_container {
    height: 190px;
  }

  .shoping_cart_header_container h2 {
    font-size: 1.2rem;
  }

  .shoping_cart_footer_container {
    gap: 10px;
  }

  .shoping_cart_header_container h4 {
    font-size: 16px;
  }

  .shoping_cart_footer_container h2 {
    font-size: 1.2rem;
  }

  .shoping_cart_footer_container h3 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 475px) {
  .shoping_cart_image_container {
    height: 140px;
  }

  .shoping_cart_header_container h2 {
    font-size: 16px;
  }

  .shoping_cart_header_container h4 {
    font-size: 14px;
  }

  .shoping_cart_footer_container h2 {
    font-size: 16px;
  }

  .shoping_cart_footer_container h3 {
    font-size: 16px;
  }

  .shoping_cart_footer_container h4 {
    font-size: 12px;
  }
}
