.same_card_main_container {
  max-width: 1536px;
  margin: auto;
  margin-top: 100px;
  border: 2px solid tomato;
}

.same_card_main_container h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}