.new_item_cart_outer_container {
  padding: 0 50px;
}

.main_cart_container {
  height: auto;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #000000;
}

.cart_image_container {
  height: 250px;
}

.cart_image_container img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.main_cart_item_info_container {
  color: #151515;
  padding: 20px 0 0 10px;
  background-color: #f6f6f6;
  font-family: "Roboto", serif;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cart_item_info_container h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.cart_item_info_container h4 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #4a4a4a;
}

.cart_price_info_container {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
}

.cart_price_info_container h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.cart_price_info_container h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #00000066;
  text-decoration: line-through;
}

.cart_price_info_container h4 {
  color: #ff3333;
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 62px;
  background: #ff33331a;
}