.shop_main_container {
  max-width: 1536px;
  margin: auto;
  margin-top: 72px;
  /* border: 2px solid tomato; */
}

.shop_section_main_container {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 10px 0;
  /* border: 2px solid aqua; */
}

.shop_filter_section_container {
  width: 25%;
}

.shop_item_section_container {
  width: 75%;
  /* border: 2px solid red; */
}

/* Filter section style__ */

.filter_memu_icon_container {
  padding-left: 10px;
  font-size: 2rem;
  display: none;
}

.shop_filter_inner_content_container {
  height: calc(100vh - 84px);
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.filter_title_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 20px;
  font-family: "Montserrat", serif;
  border-bottom: 2px solid #e0e0e0;
}

/* Pirce section style__ */

.price_filter_container {
  margin-top: 20px;
}

.price_filter_container h2 {
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 10px;
}

.price_filter_container select {
  width: 100%;
  color: #00000099;
  padding: 10px 0;
  border-radius: 8px;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  border: 2px solid #e0e0e0;
  background-color: white;
}

/* Categoty section style__ */

.category_filter_container {
  margin-top: 50px;
}

.category_filter_container h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

.filter_categotu_content_container {
  display: grid;
  gap: 20px;
  padding-top: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.filter_categotu_content_container h3 {
  color: #00000099;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 16px;
  text-align: center;
  background-color: #f0f0f0;
}

.filter_categotu_content_container h3:hover {
  color: #ffffff;
  transition: 0.3s ease-in-out;
  background-color: #151515;
}

/* Status section style__ */

.status_filter_container {
  margin-top: 50px;
}

.status_filter_container h2 {
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 10px;
}

.status_filter_container select {
  width: 100%;
  padding: 10px 0;
  color: #00000099;
  border-radius: 8px;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  border: 2px solid #e0e0e0;
  background-color: white;
}

/* Size section style__ */

.size_filter_container {
  margin-top: 50px;
}

.size_filter_container h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

.size_categotu_content_container {
  display: grid;
  gap: 20px;
  padding-top: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.size_categotu_content_container h3 {
  color: #00000099;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 16px;
  text-align: center;
  background-color: #f0f0f0;
}

.size_categotu_content_container h3:hover {
  color: #ffffff;
  transition: 0.3s ease-in-out;
  background-color: #151515;
}

/* Color section style__ */

.color_filter_container {
  margin-top: 50px;
}

.color_filter_container h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

.color_categotu_content_container {
  gap: 20px;
  display: grid;
  padding-top: 10px;
  grid-template-columns: repeat(4, 1fr);
}

#color_1 {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 2px solid #cccbcb;
  border-radius: 50%;
  background-color: #e81416;
}

#color_2 {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 2px solid #cccbcb;
  border-radius: 50%;
  background-color: #ffa500;
}

#color_3 {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 2px solid #cccbcb;
  border-radius: 50%;
  background-color: #faeb36;
}

#color_4 {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 2px solid #cccbcb;
  border-radius: 50%;
  background-color: #79c314;
}

#color_5 {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 2px solid #cccbcb;
  border-radius: 50%;
  background-color: #70369d;
}

#color_6 {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 2px solid #cccbcb;
  border-radius: 50%;
  background-color: #487de7;
}

#color_7 {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 2px solid #cccbcb;
  border-radius: 50%;
  background-color: #4b369d;
}

#color_8 {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 2px solid #cccbcb;
  border-radius: 50%;
  background-color: #000000;
}

#color_9 {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 2px solid #cccbcb;
  border-radius: 50%;
  background-color: #a52a2a;
}

.search_bar_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.search_bar_container input {
  width: 45%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
  padding: 12px 20px;
  background-color: #e6e6e6;
}

.search_bar_container button {
  color: #ffffff;
  font-size: 1.5rem;
  padding: 12px 35px;
  background-color: #151515;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.search_bar_container button:hover {
  background-color: #333333;
}

/* Main product card style__ */

.main_product_card_container {
  width: 100%;
}

.main_product_card_inner_container {
  display: grid;
  row-gap: 80px;
  column-gap: 50px;
  margin-top: 20px;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1024px) {
  .shop_main_container {
    margin-top: 62px;
  }
}

@media screen and (max-width: 768px) {
  .main_product_card_inner_container {
    row-gap: 60px;
    grid-template-columns: repeat(2, 1fr);
  }
}