.main_banner_outer_container {
  height: calc(90vh - 72px);
  position: relative;
  max-width: 1920px;
  margin: auto;
  margin-top: 72px;
}

/* Banner video styling__ */

.main_banner_video_container {
  height: 100%;
  width: 100%;
}

.main_banner_video_container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main_banner_overlay_container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0px;
  position: absolute;
  background: linear-gradient(90deg, #151515, #15151536 100%);
}

/* Banner text info styling__ */

.banner_text_container {
  color: white;
  padding-left: 20px;
}

.banner_text_container h2 {
  font-size: 4rem;
  padding-right: 930px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.banner_text_container p {
  font-size: 1.1rem;
  font-weight: 300;
  padding: 20px 1100px 40px 0;
  font-family: "Roboto", serif;
}

/* Button style __ST */

.button-85 {
  padding: 0.6em 3.5em;
  border: none;
  outline: none;
  color: #ffffff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 8px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Button style __END */

/* Banner text animation styling__ */

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.overlay_inner_container {
  animation: slideUp 0.3s ease-out forwards;
}

/* Banner play button styling__ */

.banner_video_play_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 70px;
  color: white;
  position: absolute;
  z-index: 99;
  right: 50px;
  bottom: 50px;
  border-radius: 16px;
  background-color: #ffffff33;
}

.banner_video_play_container h3 {
  font-size: 3rem;
  cursor: pointer;
}

.banner_video_play_container p {
  font-size: 1.2rem;
  padding-left: 5px;
  font-weight: 500;
}

/* Responsive styling__ */

@media screen and (max-width: 1536px) {
  .banner_text_container h2 {
    padding-right: 700px;
  }

  .banner_text_container p {
    font-size: 1.1rem;
    font-weight: 300;
    padding: 20px 800px 40px 0;
  }
}

@media screen and (max-width: 1280px) {
  .banner_text_container h2 {
    font-size: 3.8rem;
    padding-right: 400px;
  }

  .banner_text_container p {
    padding: 10px 450px 30px 0;
  }

  .banner_video_play_container h3 {
    font-size: 2.6rem;
  }

  .banner_video_play_container p {
    font-size: 1.2rem;
  }

  .banner_video_play_container {
    height: 60px;
    width: 180px;
  }
}

@media screen and (max-width: 1024px) {
  .main_banner_outer_container {
    height: calc(90vh - 72px);
    width: 100%;
    position: relative;
    margin-top: 62px;
  }

  .banner_text_container h2 {
    font-size: 3.6rem;
    padding-right: 180px;
  }

  .banner_text_container p {
    padding: 10px 250px 30px 0;
  }
}

@media screen and (max-width: 768px) {
  .banner_text_container h2 {
    font-size: 3.2rem;
    padding-right: 120px;
  }

  .banner_text_container p {
    padding: 10px 150px 30px 0;
  }

  .banner_video_play_container h3 {
    font-size: 2.4rem;
  }

  .banner_video_play_container p {
    font-size: 1rem;
  }

  .banner_video_play_container {
    height: 50px;
    width: 160px;
    right: 30px;
    bottom: 30px;
  }
}

@media screen and (max-width: 640px) {
  .banner_text_container h2 {
    font-size: 3rem;
    padding-right: 50px;
  }

  .banner_text_container p {
    font-size: 14px;
    padding: 10px 100px 30px 0;
  }

  .banner_video_play_container {
    right: 20px;
    bottom: 20px;
  }

  .banner_video_play_container h3 {
    font-size: 2.1rem;
  }

  .banner_text_container button {
    padding: 8px 30px;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 475px) {
  .banner_text_container h2 {
    font-size: 2rem;
    padding-right: 20px;
  }

  .banner_text_container p {
    font-size: 12px;
    padding: 10px 30px 30px 0;
  }

  .banner_text_container button {
    padding: 6px 20px;
    font-size: 1rem;
  }
}