.main_footer_outer_container {
  margin-top: 200px;
  padding-top: 130px;
  position: relative;
  background-color: #f0f0f0;
}

.footer_upper_section_container {
  gap: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 2px solid #0000001a;
}

/* Main two column styleing__ */

.first_column_container {
  width: 30%;
  /* border: 2px solid green; */
}

.second_patent_column_container {
  width: 70%;
  padding-right: 30px;
  /* border: 2px solid yellow; */
}

/* First column section styleing__ */

.footer_image_container {
  width: 220px;
}

.footer_image_container img {
  height: 100%;
  width: 100%;
}

.first_column_container p {
  font-weight: 300;
  padding: 10px 0 20px 30px;
  font-family: "Roboto", serif;
}

.footer_social_icons {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}

.footer_social_icons h3 {
  cursor: pointer;
  font-size: 2rem;
}

/* Second column section styleing__ */

.second_patent_column_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.second_chield_section_container h3 {
  font-size: 18px;
  font-weight: 500;
  color: #151515;
  padding-bottom: 20px;
  font-family: "Montserrat", serif;
}

.second_chield_section_container p {
  font-size: 16px;
  color: #00000099;
  padding-bottom: 10px;
  font-family: "Roboto", serif;
}

/* Foter down section container__ */

.footer_down_section_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
}

.footer_card_image_container {
  width: 220px;
}

.footer_card_image_container img {
  height: 100%;
  width: 100%;
}

/* News letter section styleing__ */

.main_news_letter_section_container {
  height: auto;
  width: 100%;
  position: absolute;
  top: -90px;
  z-index: 88;
}

.news_letter_inner_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 30px;
  border-radius: 16px;
  color: white;
  background-color: black;
  font-family: "Montserrat", serif;
}

.news_letter_inner_container h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

.news_letter_input_section_container {
  width: 30%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.news_letter_input_section_container input {
  color: black;
  padding: 10px 10px 10px 20px;
  outline: none;
  border-radius: 8px;
  background-color: white;
}

.news_letter_input_section_container button {
  color: #151515;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
}

.news_letter_input_section_container button:active {
  background-color: #e9e9e9;
}