.main_footer_outer_container {
  margin-top: 200px;
  padding-top: 130px;
  position: relative;
  background-color: #f0f0f0;
}

.footer_upper_section_container {
  max-width: 1536px;
  margin: auto;
  gap: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 2px solid #0000001a;
}

/* Main two column styleing__ */

.first_column_container {
  width: 30%;
}

.second_patent_column_container {
  width: 70%;
  padding-right: 30px;
}

/* First column section styleing__ */

.footer_image_container {
  width: 220px;
}

.footer_image_container img {
  height: 100%;
  width: 100%;
}

.first_column_container p {
  font-weight: 300;
  padding: 10px 0 20px 30px;
  font-family: "Roboto", serif;
}

.footer_social_icons {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}

.footer_social_icons h3 {
  cursor: pointer;
  font-size: 2rem;
}

/* Second column section styleing__ */

.second_patent_column_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.second_chield_section_container h3 {
  font-size: 18px;
  font-weight: 500;
  color: #151515;
  padding-bottom: 20px;
  font-family: "Montserrat", serif;
}

.second_chield_section_container p {
  font-size: 16px;
  color: #00000099;
  padding-bottom: 10px;
  font-family: "Roboto", serif;
}

/* Foter down section container__ */

.footer_down_section_container {
  max-width: 1536px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
}

.footer_card_image_container {
  width: 220px;
}

.footer_card_image_container img {
  height: 100%;
  width: 100%;
}

/* News letter section styleing__ */

.main_news_letter_section_container {
  height: auto;
  width: 100%;
  position: absolute;
  top: -90px;
  z-index: 88;
}

.news_letter_inner_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1120px;
  margin: auto;
  padding: 30px;
  border-radius: 16px;
  color: white;
  background-color: black;
  font-family: "Montserrat", serif;
}

.news_letter_inner_container h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

.news_letter_input_section_container {
  width: 30%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.news_letter_input_section_container input {
  color: black;
  outline: none;
  border-radius: 8px;
  background-color: white;
  padding: 10px 10px 10px 20px;
}

.news_letter_input_section_container button {
  color: #151515;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
}

.news_letter_input_section_container button:active {
  background-color: #e9e9e9;
}

/* Responsive styleing__ */

@media screen and (max-width: 1280px) {
  .news_letter_inner_container h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  .news_letter_input_section_container {
    width: 35%;
    gap: 10px;
  }

  .news_letter_input_section_container input {
    padding: 10px;
  }

  .footer_image_container {
    width: 190px;
  }
}

@media screen and (max-width: 1024px) {
  .main_footer_outer_container {
    padding-top: 100px;
  }

  .footer_upper_section_container {
    padding-bottom: 30px;
  }

  .news_letter_inner_container h2 {
    font-size: 1.5rem;
  }

  .news_letter_input_section_container {
    width: 40%;
    gap: 10px;
  }

  .news_letter_input_section_container input {
    padding: 10px;
    font-size: 14px;
  }

  .news_letter_input_section_container button {
    font-size: 16px;
    padding: 8px;
  }

  .footer_upper_section_container {
    gap: 20px;
  }

  .footer_image_container {
    width: 160px;
  }

  .first_column_container p {
    font-size: 14px;
    padding: 10px 0 20px 20px;
  }

  .footer_social_icons {
    padding-left: 15px;
  }

  .second_patent_column_container {
    padding-right: 20px;
  }

  .second_chield_section_container h3 {
    font-size: 16px;
  }

  .second_chield_section_container p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .footer_upper_section_container {
    flex-direction: column;
  }

  .first_column_container {
    width: 100%;
  }

  .second_patent_column_container {
    width: 100%;
    padding-right: 30px;
  }

  .first_column_container p {
    padding-right: 300px;
  }

  .news_letter_inner_container h2 {
    font-size: 1.2rem;
  }

  .news_letter_inner_container {
    padding: 20px;
  }

  .news_letter_input_section_container input {
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
  }

  .news_letter_input_section_container button {
    padding: 6px;
    font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
  .footer_upper_section_container {
    padding-bottom: 20px;
  }

  .first_column_container p {
    padding-right: 200px;
  }

  .second_patent_column_container {
    padding-right: 0px;
    padding-left: 20px;
  }

  .second_patent_column_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }

  .news_letter_inner_container {
    flex-direction: column;
    gap: 10px;
  }

  .news_letter_inner_container h2 {
    text-align: center;
  }

  .news_letter_input_section_container {
    width: 100%;
  }
}

@media screen and (max-width: 475px) {
  .first_column_container p {
    padding-right: 100px;
  }

  .footer_down_section_container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }

  .footer_card_image_container {
    width: 180px;
  }

  .news_letter_inner_container h2 {
    text-align: center;
    font-size: 16px;
  }

  .news_letter_input_section_container {
    width: 100%;
  }
}