.main_top_sell_outer_container {
  margin-top: 100px;
}

.top_sell_title_container {
  color: #151515;
  text-align: center;
  font-family: "Montserrat", serif;
}

.top_sell_title_container h2 {
  font-size: 3rem;
  font-weight: 700;
}

.main_top_sell_cart_outer_container {
  margin-top: 100px;
  margin-bottom: 30px;
}

.top_sell_button_container {
  margin-top: 50px;
  text-align: center;
  border-bottom: 2px solid #0000001a;
}

.top_sell_button_container button {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 8px 80px;
  margin-bottom: 50px;
  border-radius: 62px;
  border: 2px solid #0000001a;
}