.main_signUp_container {
  margin-top: 72px;
}

.main_signUp_outer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 72px);
  width: 100%;
  max-width: 1536px;
  margin: auto;
  /* border: 2px solid rgb(28, 159, 182); */
}

.main_signUp_inner_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  width: 85%;
  position: relative;
  padding: 40px;
  padding-bottom: 80px;
  border-radius: 16px;
  background-color: #f0f0f0;
}

/* Main left and right containers__ */

.left_signUp_main_container {
  width: 40%;
  padding: 0 20px 0px 0px;
  /* border: 2px solid tomato; */
}

.right_signUp_main_container {
  width: 60%;
  height: 390px;
  /* border: 2px solid aqua; */
}

/* Left side container styleing__ */

.signUp_image_container img {
  width: 45%;
}

.left_signUp_main_container h2 {
  font-size: 2.5rem;
  font-weight: 600;
  padding-left: 20px;
  font-family: "Montserrat", serif;
}

.left_signUp_main_container p {
  padding-left: 20px;
  padding-top: 30px;
  font-weight: 300;
  font-family: "Roboto", serif;
}

.mySwiper {
  height: 100%;
}

/* Swiper button__ST */

.button_1 {
  color: #ffffff;
  font-size: 1.2rem;
  padding: 5px 15px;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 40px;
  background-color: #3b82f6;
}

.button_2 {
  color: #ffffff;
  font-size: 1.2rem;
  padding: 5px 30px;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 40px;
  background-color: #3b82f6;
}

/* Swiper button__END */

/* Form design slide-1____ */

.form_name_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 50px;
  height: 100%;
  width: 100%;
}

.form_name_container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 100px;
}

.form_name_inner_container {
  width: 60%;
}

.form_name_inner_container input {
  width: 100%;
  font-size: 18px;
  margin-top: 20px;
  padding: 15px 20px;
  outline: none;
  border-radius: 8px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: #88a5bf7a 6px 2px 16px 0px, #ffffffcc -6px -2px 16px 0px;
}

/* Form design slide-2____ */

.form_barth_container {
  height: 100%;
  width: 100%;
  padding: 0 20px 0 50px;
}

.form_barth_container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 80px;
}

.form_container {
  /* border: 2px solid tomato; */
  height: 100%;
  width: 100%;
  color: #151515;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.dropdown_group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.dropdown {
  width: 100%;
  font-size: 18px;
  margin-top: 20px;
  padding: 15px 20px;
  outline: none;
  border-radius: 8px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: #88a5bf7a 6px 2px 16px 0px, #ffffffcc -6px -2px 16px 0px;
}

.dropdown_group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.info_link {
  color: #1a73e8;
  font-size: 14px;
  margin-top: 10px;
  text-decoration: none;
}

.info_link:hover {
  text-decoration: underline;
}

/* Form design slide-3____ */

.form_email_container {
  height: 100%;
  width: 100%;
  padding-left: 50px;
}

.form_email_container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 150px;
}

.form_email_container input {
  width: 60%;
  font-size: 18px;
  margin-top: 20px;
  padding: 15px 20px;
  outline: none;
  border-radius: 8px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: #88a5bf7a 6px 2px 16px 0px, #ffffffcc -6px -2px 16px 0px;
}

/* Form design slide-4____ */

.form_password_container {
  height: 100%;
  width: 100%;
  padding-left: 50px;
}

.form_password_container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 100px;
}

.password_input_container {
  position: relative;
}

.password_input_container input {
  width: 60%;
  font-size: 18px;
  margin-top: 20px;
  padding: 15px 20px;
  outline: none;
  border-radius: 8px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: #88a5bf7a 6px 2px 16px 0px, #ffffffcc -6px -2px 16px 0px;
}

#password_show_icon {
  font-size: 1.5rem;
  position: absolute;
  left: 370px;
  bottom: 16px;
  cursor: pointer;
}

/* Form design slide-5____ */

.form_image_container {
  height: 100%;
  width: 100%;
  padding-left: 50px;
}

.form_image_container h2 {
  font-size: 1.2rem;
  color: #3b82f6;
  margin-top: 10px;
}

.form_image_container h3 {
  font-size: 2rem;
  font-weight: 600;
}

.form_image_container span {
  font-size: 1.4rem;
  color: #737373;
}

.form_image_outer_container {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 75%;
  width: 100%;
}

.from_image_inner_container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 60%;
}

.from_image_inner_container img {
  height: 290px;
  width: 290px;
  border-radius: 50%;
}

.from_fileUp_container {
  width: 40%;
}

.from_fileUp_container button {
  color: #ffffff;
  padding: 5px 25px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #1a73e8;
}

.from_fileUp_container button:active {
  background-color: #1763c7;
}